<back-button label="Back"></back-button>
<div class="retry-page">
    <h3>Retry, RetryWhen, Scan and Delay Operator (Observable) Page</h3>
    <p>To create <strong>Take, TakeLast and TakeUntil Operator</strong></p>
    <p class="random-data">
        <strong>Random Name:</strong>'Anup','Shekhar','Sharma','Monu','Ravi','Jonson'
    </p>
    <div class="retry-data">
        <div class="">
            <strong>Ex- 01</strong>
            <hr>
            <p class="data-view">
                <strong>Retry :-</strong> Retry()
            </p>
            <br>
            <!-- <web-table [cols]="tableHeaders" [data]="value" (rowClick)="handleRowClick($event)"></web-table> -->
            <table *ngIf="person!=null">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of person">
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>
                    </tr>
                </tbody>
            </table>
            <button class="btn" (click)="fetchDetails()">Person-Details</button>
        </div>
        <div class="">
            <strong>Ex- 02</strong>
            <hr>
            <p class="data-view">
                <strong>TakeLast:-</strong> TakeLast(3)
            </p>
            <br>
            <ul id="elContainer2"></ul>
        </div>
        <div class="">
            <strong>Ex- 03</strong>
            <hr>
            <p class="data-view">
                <strong>TakeUntil :-</strong> TakeUntil(condition)
            </p>
            <br>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>