<div class="from-event-page">
    <h3>From-Event Page</h3>
    <p>To create stream from <strong>from-event Observable</strong></p>
    <div class="add-event">
        <div class="card">
            <div class="card-header">
                <h3>Add Vedio Stream</h3>
                <hr>
            </div>
            <div class="card-body"></div>
            <div class="card-footer">
                <input #inputField type="text" placeholder="Enter text here!"/>
                <button #addBtn>Add</button>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>List</h3>
                <hr>
            </div>
            <div class="card-body">
                <ol id='elContainer'>
                </ol>
                <!-- <ol class="elContainer"></ol> -->
            </div>
            
            <!-- <div class="card-footer">
                <button>Add</button>
            </div> -->
        </div>
        <div class="card">
            <div class="card-header">
                <h3>List</h3>
                <hr>
            </div>
            <div class="card-body">
                <ol id='elContainer2'>
                </ol>
                <!-- <ol class="elContainer"></ol> -->
            </div>
            
            <!-- <div class="card-footer">
                <button>Add</button>
            </div> -->
        </div>
    </div>
</div>
