<div class="navbar-page">
    <div class="all-tabs">
        <ul class="">
            <li>
                <p><a routerLink="/">Rxjs-Tutorial</a></p>
            </li>
            <li>
                <div class="tabs">
                    <p><a routerLink="/">Dashbard</a></p>
                    <p><a routerLink="/home">Home</a></p>
                    <p><a routerLink="/profile">Profile</a></p>
                    <p><a routerLink="/promise">Promise</a></p>
                    <p><a routerLink="/observable">Observable</a></p>
                    <p>
                        <strong class="bages" *ngIf="exclusive">Exclusive</strong>
                    </p>
                </div>
            </li>
            <li>
                <div class="search-bar">
                    <p>Search button</p>
                </div>
            </li>
            <li>
                <div class="auth-tabs">
                    <p><a routerLink="/">Login</a></p>
                    <p><a routerLink="/">SignUp</a></p>
                    <p><a routerLink="/">Logout</a></p>
                </div>
            </li>
        </ul>
    </div>
</div>