<div class="promise-page">
    <div class="contianer">
        <div class="header">Promises Topics With Practical</div>
        <div class="topics">
            <div class="promise">
                <div class="content">
                    <h3>Simple Promise</h3>
                    <a routerLink="simple-promise"><button>Click Here</button></a>
                </div>
            </div>
            <div class="promise">
                <div class="content">
                    <h3>Dynemic(API) Promise</h3>
                    <a routerLink="dynemic-promise"><button>Click Here</button></a>
                </div>
            </div>
            <div class="promise">
                <div class="content">
                    <h3>Simple Promise</h3>
                    <a routerLink="asyn-await"><button>Click Here</button></a>
                </div>
            </div>
            <div class="promise">
                <div class="content">
                    <h3>Simple Promise</h3>
                    <a routerLink="simples-promise"><button>Click Here</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
