<div class="promise-page">
    <div class="contianer">
        <div class="header">Promises Topics With Practical</div>
        <div class="topics">
            <div class="promise">
                <div class="content">
                    <h3>Simple Promise</h3>
                    <a routerLink="simple-promise"><button>Click Here</button></a>
                </div>
            </div>
            <!-- <web-card title="Card Title 1" buttonLabel="Action 1" (buttonClick)="handleButtonClick()">
                <p>This is the content of card 1.</p>
            </web-card> -->
            
            <div class="promise">
                <div class="content">
                    <h3>Dynemic(API) Promise</h3>
                    <a routerLink="dynemic-promise"><button>Click Here</button></a>
                </div>
            </div>
            <div class="promise">
                <div class="content">
                    <h3>Asyn/Await</h3>
                    <a routerLink="asyn-await"><button>Click Here</button></a>
                </div>
            </div>
            <div class="promise">
                <div class="content">
                    <h3>Simple Promise</h3>
                    <a routerLink="only-promise"><button>Click Here</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
