<back-button label="Back"></back-button>
<div class="asyn-await-page">
    <h3>Asyn/Await</h3>
    <div class="card-page">
        <web-card [title]="titlePromise" buttonLabel="Promise-button" (ButtonClick)="fetch1()">
            <ng-container *ngFor="let datas of receiveValue">
                <span>Brand:-{{datas.brand}}</span><br>
                <span>Brand:-{{datas.price}}</span><br>
                <span>Brand:-{{datas.color}}</span><br><br>
            </ng-container>
            <!-- <p>{{receiveValue}}</p> -->
        </web-card>
        <web-card [title]="titleAsync" buttonLabel="Async/Await-button" (ButtonClick)="fetch2()">
            <ng-container *ngFor="let datas of receiveValues">
                <span>Brand:-{{datas.brand}}</span><br>
                <span>Brand:-{{datas.price}}</span><br>
                <span>Brand:-{{datas.color}}</span><br><br>
            </ng-container>
        </web-card>
        <web-card [title]="titleAsyncPromise" buttonLabel="API-Button" (ButtonClick)="fetch3()" class="cards-body">
            <ng-container *ngFor="let datas of apiValue">
                <span class="title truncate">Title:-{{datas.title}}</span><br>
                <span class="title truncate">Discri:-{{datas.body}}</span><br><br>
            </ng-container>
        </web-card>
    </div>
</div>


