.asyn-await-page{
    h3{
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
        //box-shadow: 10px 10px 10px 10px;
        
    }
    .card-page{
        display: flex;
        justify-content: space-around;
        web-card{
            max-height: 200px;    
            overflow-y: auto;    
            //width: 1200px;
            .truncate {
                display: block;         
                width: 200px;          
                white-space: nowrap;   
                overflow: hidden;     
                text-overflow: ellipsis;
            }
         
        }
    }
    
}
