.observable-page{
    h3{
        text-align: center;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
    }
    .topic-list{
        //display: flex;
        //justify-content: space-around;
        //column-gap: 20px;
        //width: 100%;
        .card{
            .common-card{
                .card-footer{
                    button{
                        display: none !important;
                    }
                }
            }
            
        }
    }
}