<back-button label="Back"></back-button>
<div class="map-page">
    <h3>Map Operator (Observable) Page</h3>
    <p>To create <strong>Map Operator</strong></p>
    <div class="map-data">
        <div class="">
            <strong>Ex- 01</strong>
            <hr>
            <p class="data-view">
                <strong>Map:-</strong> 'Vedio' + Data
            </p>
            <br>
            <p>Message:-<strong class="text-success">{{msgData}}</strong></p>
        </div>
        <div class="">
            <strong>Ex- 02 </strong>
            <hr>
            <p class="data-view">
                <strong>Map:-</strong> data => data * 3
            </p>
            <br>
            <p>Message:-<strong class="text-success">{{msgData2}}</strong></p>
        </div>
        <div class="">
            <strong>Ex- 03</strong>
            <hr>
            <p class="data-view">
                <strong>Map:-</strong> Map Object Data
            </p>
            <br>
            <ul class="techList" id="elContainer"></ul>
        </div>
    </div>
</div>
