<back-button label="Back"></back-button>
<div class="interval-page">
    <h3>Interval Page</h3>
    <p>To create stream from <strong>Interval Observable</strong></p>
    {{obsMsg}}
    <br><br>
    <div class="card-page">
        <div class="card">
            <div class="card-header">User1</div>
            <hr>
            <div class="card-body">
                <ul id="elContainer"></ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">User2</div>
            <hr>
            <div class="card-body">
                <ul id="elContainer2"></ul>
            </div>
        </div>
        <div class="card">
            <div class="card-header">User3</div>
            <hr>
            <div class="card-body">
                <ul id="elContainer3"></ul>
            </div>
        </div>
    </div>
</div>