<back-button label="Back" class="buttonClass"></back-button>
<div class="subject-page">
    <h3>Subject and BehaviorSubject Operator (Observable) Page</h3>
    <p>To create <strong>Subject and BehaviorSubject Operator</strong></p>
    <hr>
    <span class="usename">Username is:-<strong>{{userName}}</strong></span>
    <hr>
    <div class="card-list">  
        <app-comp1></app-comp1>
        <app-comp2></app-comp2>
        <app-comp3></app-comp3>                                              
    </div>
</div>
