.list-page{
    .topic-list{
        display: grid;
        gap: 16px;
        padding: 20px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      
        .cards{
            .common-card{
                .card-footer{
                    .btns{
                        display: none !important;
                    }
                }
            }
            
        }
        .btns{
            padding: 0px 5px;
            font-size: 13px;
            border-radius: 8px;
            color: white;
            background-color: cornflowerblue;
            cursor: pointer;
        }
    }
}