.list-page{
    .topic-list{
        display: flex;
        //justify-content: space-around;
        column-gap: 20px;
        //width: 100%;
        .card{
            .common-card{
                .card-footer{
                    button{
                        display: none !important;
                    }
                }
            }
            
        }
    }
}