<div class="list-page">
    <div class="topic-list">
        <web-card [title]="list">
          <ng-container>
             <a routerLink="/observable"><button>List-button</button></a>
          </ng-container>
        </web-card>
        <web-card [title]="fromEventTitle">
         <ng-container>
             <a routerLink="/from-event"><button>Event-button</button></a>
          </ng-container>
        </web-card>
        <web-card title="Interval-Timer Card">
         <ng-container>
            <a routerLink="/interval-timer"><button>Interval-button</button></a>
         </ng-container>
        </web-card>
        <web-card title="Of-From Card">
         <ng-container>
            <a routerLink="/of-from"><button>Of-from-button</button></a>
         </ng-container>
        </web-card>
         <web-card title="toArray Card">
            <ng-container>
               <a routerLink="/toArray"><button>toArray-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Custom-Obervable Card">
            <ng-container>
               <a routerLink="/custom-observ"><button>Custom-Observ-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Map Card">
            <ng-container>
               <a routerLink="/map"><button>Map-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Pluck Card">
            <ng-container>
               <a routerLink="/pluck"><button>Map-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Filter Card">
            <ng-container>
               <a routerLink="/filter"><button>Filter-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Tap Card">
            <ng-container>
               <a routerLink="/tap"><button>Tap-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Take Card">
            <ng-container>
               <a routerLink="/take"><button>Take-button</button></a>
            </ng-container>
         </web-card>
         <web-card title="Retry Card">
            <ng-container>
               <a routerLink="/retry"><button>Retry-button</button></a>
            </ng-container>
         </web-card>
     </div>
</div>
