<div class="list-page">
    <div class="topic-list">
        <web-card [title]="list">
          <ng-container>
             <a routerLink="/observable"><button>List-button</button></a>
          </ng-container>
        </web-card>
        <web-card [title]="fromEventTitle">
         <ng-container>
             <a routerLink="/from-event"><button>Event-button</button></a>
          </ng-container>
        </web-card>
        <web-card></web-card>
        <!-- <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card>
        <web-card></web-card> -->
     </div>
</div>
