<back-button label="Back"></back-button>

<div class="tap-page">
    <h3>Tap/Do Operator (Observable) Page</h3>
    <p>To create <strong>Tap/Do Operator</strong></p>
    <div class="tap-data">
        <div class="">
            <strong>Ex- 01</strong>
            <hr>
            <p class="data-view">
                <strong>Tap/Do :-</strong> By Property
            </p>
            <br>
            <ul id="elContainer"></ul>
        </div>
        <div class="">
            <strong>Ex- 02</strong>
            <hr>
            <p class="data-view">
                <strong>Tap/Do :-</strong> By Property
            </p>
            <br>
            <ul id="elContainer2" [ngStyle]="{'color':myColor}"></ul>
        </div>
    </div>
</div>
